// LG-size-------------------------
@media (min-width: 769px) {
  .col-3 {
    width: 25%;
  }

  .col-7 {
    width: 58.33333%;
  }

  .col-5 {
    width: 41.66667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-4 {
    width: 33.33333%;
  }

  .future-text {
    padding-right: 15px;
  }

  // [class*="col-"] {
  // margin-left: 15px;
  // margin-right: 15px;
  // }

  .container {
    display: block;
    width: 1170px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}
// SM-size----------------------

@media (min-width: 376px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  header {
    .col-sm-2 {
      display: none;
    }
    .col-sm-7 {
      width: 100% !important;
    }
    .col-sm-3 {
      text-align: center;
    }
    .col-4 {
      width: 100%;
    }

    .display-flex {
      padding-left: 0;
      // flex-wrap: wrap;
      flex-direction: column;
      // align-items: center !important;
      height: auto !important;
      // padding-left: 0 !important;
    }
  }
  .features {
    .display-flex {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      .future-text {
        padding-bottom: 0;
      }
    }
  }

  .logo {
    margin-left: 15px;
  }

  .navigation ul {
    overflow-x: scroll;
    justify-content: center !important;
  }

  .slider {
    p {
      text-align: justify;
    }
    .col-sm-7 {
      width: 100% !important;
      align-items: center;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-right: 15px;
    }
  }

  .h2 {
    text-align: center;
    p {
      text-align: center;
    }
  }

  [class*="col-"] {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    row-gap: 30px !important;
  }

  [class*="block-"] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .block-first {
    [class*="col-"] {
      width: 100% !important;
      justify-content: center;
      align-items: center !important;
    }
    p {
      text-align: justify;
    }
    .display-flex {
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      padding-right: 15px;
    }
  }

  .features {
    width: 100%;
    .future-text {
      padding-bottom: 0;
      width: 360px;
      text-align: justify;
    }
    h3 {
      text-align: center;
    }
  }

  .block-second {
    .display-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .photo-link-inside {
      width: inherit;
    }
  }

  section {
    .display-flex {
      padding-left: 0;
      flex-wrap: wrap;
      // flex-direction: column;
      justify-content: center;
      .col-sm-4 {
        width: 49%;
      }
    }
  }
  [class*="sect-"] {
    a {
      position: relative;
      top: calc(100% - 40px) !important;
    }
  }
  .block-third {
    .h2 {
      margin-bottom: 10px !important;
    }
    .col-sm-3 {
      width: 50%;
    }
  }
  .col-sm-6 {
    width: 100%;
    text-align: center;
    padding-right: 15px;
  }
  .contacts {
    .display-flex {
      flex-direction: column;
    }
  }
}

// XS-size------------------------

@media (max-width: 375px) {
  .container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  header {
    .col-xs-2 {
      display: none;
    }
    .col-4 {
      width: 100%;
    }
    .display-flex {
      justify-content: space-between;
    }
  }

  .navigation ul {
  }

  .slider {
    .col-xs-7 {
      width: 100% !important;
      align-items: center;
      text-align: center;
      justify-content: center !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-right: 15px;
    }
    p {
      text-align: justify;
    }
  }

  [class*="col-"] {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    // padding-left: 15px;
    row-gap: 30px !important;
    // width: calc(100% - 25px) !important;
  }

  [class*="block-"] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  p {
    text-align: justify;
  }

  .block-first {
    [class*="col-"] {
      // padding-top: 20px !important;
      // padding-bottom: 20px !important;
      // row-gap: 30px !important;
      width: calc(100% - 25px) !important;
    }
    // [class*="block-"] {
    //   padding-left: 15px !important;
    //   padding-right: 15px !important;
    //   padding-top: 20px !important;
    //   padding-bottom: 20px !important;
    // }
    .display-flex {
      flex-direction: column;
      align-items: center;
      padding-left: 0 !important;
    }
    .col-xs-7 {
      align-items: center !important;
    }
    .col-xs-5 {
      align-items: center !important;
    }
  }
  .block-second {
    .display-flex {
      display: flex;
      padding-left: 0;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: column;
      [class*="col-"] {
        width: 260px;
      }
    }
    .photo-link-inside {
      width: inherit;
    }
  }
  .h2 {
    text-align: center;
    p {
      text-align: center;
    }
  }
  section {
    .display-flex {
      padding-left: 0;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    [class*="col-"] {
      max-width: 360px !important;
      background-size: contain;
    }
  }
  [class*="sect-"] {
    a {
      position: relative;
      top: calc(100% - 40px) !important;
    }
  }
  .block-third .row {
    justify-content: center;
    row-gap: 0px !important;
  }
  .block-third {
    .col-sm-3 {
      width: 100%;
    }
    .h2 {
      margin-bottom: 0 !important;
    }
  }
  .col-sm-6 {
    width: 100%;
    text-align: center;
  }
  .contacts {
    .display-flex {
      flex-direction: column;
      padding-left: 0px !important;
      justify-content: center;
      align-items: center;
    }
  }
  .features {
    .display-flex {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 0 !important;
      .future-text {
        padding-bottom: 0;
      }
    }
  }
  .feautures-picture {
    width: 100% !important;
    height: 240px;
    margin-bottom: 40px;
  }
  .future-text {
    text-align: center;
    // padding-right: 15px;
  }
  form {
    padding-bottom: 100px !important;
    top: -50px !important;
    input {
      width: 100%;
    }
    .display-flex {
      display: flex;
      /* column-gap: 15px; */
      /* row-gap: 15px; */
      padding-left: 15px;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
  footer .display-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}
