@media (max-width: 550px) {
  .container {
    width: auto !important;
    padding-left: 15px;
  }

  header {
    .col-2 {
      display: none;
    }
  }

  header {
    .row {
      // flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start !important;
      height: auto !important;
    }
  }

  .logo {
    margin-left: 15px;
  }

  .navigation ul {
    overflow-x: scroll;
    width: 380px;
  }

  .slider {
    padding-left: 15px !important;
    padding-right: 15px !important;
    .col-7 {
      width: calc(100% - 25px);
      justify-content: flex-start !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  [class*="col-"] {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    row-gap: 30px !important;
    // width: calc(100% - 25px) !important;
  }

  [class*="block-"] {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .block-first {
    [class*="col-"] {
      // padding-top: 20px !important;
      // padding-bottom: 20px !important;
      // row-gap: 30px !important;
      width: calc(100% - 25px) !important;
    }
    // [class*="block-"] {
    //   padding-left: 15px !important;
    //   padding-right: 15px !important;
    //   padding-top: 20px !important;
    //   padding-bottom: 20px !important;
    // }
    .display-flex {
      flex-direction: column;
    }
    .col-7 {
      justify-content: flex-start !important;
    }
    .col-5 {
      justify-content: flex-start !important;
    }
  }
  .block-second {
    .display-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      [class*="col-"] {
        width: 100%;
      }
    }
    .photo-link-inside {
      width: inherit;
    }
  }
}

@media (min-width: 551px) and (max-width: 768px) {
  .container {
    width: auto !important;
    padding-left: 15px;
  }

  header {
    .col-2 {
      display: none;
    }
  }

  header {
    .row {
      // flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start !important;
      height: auto !important;
    }
  }

  .logo {
    margin-left: 15px;
  }

  .navigation ul {
    overflow-x: scroll;
    width: 380px;
  }

  .slider {
    padding-left: 15px !important;
    padding-right: 15px !important;
    .col-7 {
      width: calc(100% - 25px);
      justify-content: flex-start !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  [class*="col-"] {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    row-gap: 30px !important;
    // width: calc(100% - 25px) !important;
  }

  [class*="block-"] {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .block-first {
    [class*="col-"] {
      // padding-top: 20px !important;
      // padding-bottom: 20px !important;
      // row-gap: 30px !important;
      width: calc(100% - 25px) !important;
    }
    // [class*="block-"] {
    //   padding-left: 15px !important;
    //   padding-right: 15px !important;
    //   padding-top: 20px !important;
    //   padding-bottom: 20px !important;
    // }
    .display-flex {
      flex-direction: column;
    }
    .col-7 {
      justify-content: flex-start !important;
    }
    .col-5 {
      justify-content: flex-start !important;
    }
  }

  .block-second {
    .display-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      [class*="col-"] {
        width: 45%;
      }
    }
    .photo-link-inside {
      width: inherit;
    }
  }
}
