@media (max-width: 550px) {
  .container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  header {
    .col-2 {
      display: none;
    }

    .display-flex {
      text-align: center;
      padding-left: 0;
      flex-direction: column;
      align-items: flex-start !important;
      height: auto !important;
    }
  }

  .logo {
    margin-left: 15px;
  }

  .navigation ul {
    overflow-x: scroll;
    margin-left: 15px !important;
  }

  .slider {
    .col-7 {
      width: 100% !important;
      align-items: center;
      text-align: center;
      justify-content: center !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-right: 15px;
    }
    p {
      text-align: justify;
    }
  }

  [class*="col-"] {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    // padding-left: 15px;
    row-gap: 30px !important;
    width: 90% !important;
    // width: calc(100% - 25px) !important;
  }

  [class*="block-"] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  p {
    text-align: justify;
  }

  .block-first {
    [class*="col-"] {
      // padding-top: 20px !important;
      // padding-bottom: 20px !important;
      // row-gap: 30px !important;
      width: calc(100% - 25px) !important;
    }
    // [class*="block-"] {
    //   padding-left: 15px !important;
    //   padding-right: 15px !important;
    //   padding-top: 20px !important;
    //   padding-bottom: 20px !important;
    // }
    .display-flex {
      flex-direction: column;
    }
    .col-7 {
      align-items: center !important;
    }
    .col-5 {
      align-items: center !important;
    }
  }
  .block-second {
    .display-flex {
      display: flex;
      padding-left: 0;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: column;
      [class*="col-"] {
        width: 260px;
      }
    }
    .photo-link-inside {
      width: inherit;
    }
  }
  .h2 {
    text-align: center;
    p {
      text-align: center;
    }
  }
  section {
    .display-flex {
      padding-left: 0;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    [class*="col-"] {
      max-width: 360px !important;
      /* height: 265px !important; */
      background-size: contain;
    }
  }
  [class*="sect-"] {
    a {
      position: relative;
      top: 58vh !important;
    }
  }
}

@media (min-width: 551px) and (max-width: 768px) {
  .container {
    width: auto;
    // padding-left: 15px;
    padding-right: 15px;
  }

  header {
    .col-2 {
      display: none;
    }
    .col-7 {
      width: 100% !important;
    }

    .display-flex {
      // flex-wrap: wrap;
      flex-direction: column;
      // align-items: center !important;
      height: auto !important;
      // padding-left: 0 !important;
    }
  }

  .logo {
    margin-left: 15px;
  }

  .navigation ul {
    overflow-x: scroll;
    justify-content: center !important;
  }

  .slider {
    padding-right: 15px !important;
    p {
      text-align: justify;
    }
    .col-7 {
      align-items: center;
      width: calc(100% - 25px);
      justify-content: flex-start !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .h2 {
    text-align: center;
    p {
      text-align: center;
    }
  }

  [class*="col-"] {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    row-gap: 30px !important;
  }

  [class*="block-"] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .block-first {
    [class*="col-"] {
      width: calc(100% - 25px) !important;
      justify-content: center;
      align-items: center !important;
    }
    p {
      text-align: justify;
    }
    .display-flex {
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      padding-right: 15px;
    }
  }

  .block-second {
    .display-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      [class*="col-"] {
        width: 260px;
      }
    }
    .photo-link-inside {
      width: inherit;
    }
  }

  section {
    .display-flex {
      padding-left: 0;
      flex-wrap: wrap;
      // flex-direction: column;
      justify-content: space-evenly;
      [class*="col-"] {
        width: 360px;
      }
    }
  }
  [class*="sect-"] {
    a {
      position: relative;
      top: calc(100% - 40px) !important;
    }
  }
}
