.display-flex {
  display: flex;
  column-gap: 15px;
  row-gap: 15px;
  justify-content: center;
}

.h2 {
  margin-left: 15px;
  p {
    font-size: 36px;
    text-transform: uppercase;
    text-align: top;
    font-family: "Quattrocento Sans";
    font-weight: 400;
    color: #292f36;
    display: inline-block;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
    width: 10px;
    height: 35px;
    background-color: #c8cdd0;
  }
}
