@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Quattrocento+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.display-flex {
  display: flex;
}

.h2 p {
  font-size: 36px;
  text-transform: uppercase;
  text-align: top;
  font-family: "Quattrocento Sans";
  font-weight: 400;
  color: #292f36 !important;
  display: inline-block;
}
.h2 span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 3px;
  width: 10px;
  height: 35px;
  background-color: #c8cdd0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    width: 768px !important;
  }
  header .col-2 {
    display: none;
  }
  header .box {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start !important;
  }
  .logo {
    margin-left: 15px;
  }
  .navigation ul {
    overflow-x: scroll;
  }
  .slider {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .slider .col-7 {
    justify-content: flex-start !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .block-first {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .block-first .display-flex {
    flex-direction: column;
  }
  .block-first .col-7 {
    justify-content: flex-start !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .block-first .col-5 {
    padding-top: 0 !important;
    justify-content: flex-start !important;
  }
}
.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-7 {
  width: 58.33333%;
}

.col-5 {
  width: 41.66667%;
}

.container {
  display: block;
  width: 1170px;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

header {
  background-color: #1d2126;
}
header .box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

[class*=col-] {
  margin-left: 15px;
  margin-right: 15px;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
}

.navigation li {
  margin: 0 5px;
  padding: 5px 10px;
  list-style: none;
  color: #a4aead;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border: 2px solid #1d2126;
  border-radius: 5px;
}

.navigation a {
  display: block;
  text-decoration: none;
}

.navigation li:active {
  border: 2px solid #23b7a4 !important;
  color: #23b7a4;
}

.navigation li:hover {
  border: 2px solid #585d64;
  cursor: pointer;
}

.search {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  border: 1px solid #585d64;
  border-radius: 3px;
}

.search > input {
  display: inline-block;
  padding: 5px 0px;
  outline: none;
  border: none;
  background: none;
  vertical-align: text-bottom;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #a4aead;
  max-width: 135px;
  text-transform: uppercase;
}

.search > input::-moz-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}

.search > input:-ms-input-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}

.search > input::placeholder {
  color: #a4aead;
  text-transform: uppercase;
}

.search button {
  background-color: #1d2126;
  background-image: url(images/icon-search-white.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 25px;
  border: none;
}

.slider {
  background-image: url(images/slider-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.slider .col-7 {
  display: flex;
  padding-top: 200px;
  padding-bottom: 250px;
  flex-direction: column;
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  justify-content: flex-start;
}
.slider-button :hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
}

.slider-button a {
  width: 120px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 3px;
  background: none;
  color: #ccd0d7;
  text-transform: uppercase;
  font-family: "Open Sans";
  margin-right: 10px;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
}

.slider h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 36px;
  margin-bottom: 20px;
}

.slider p {
  color: #ccd0d7;
  font-family: "Open Sans";
  font-size: 16px;
  margin-bottom: 40px;
}

.block-first {
  margin: unset;
}
.block-first .col-7 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.block-first p {
  font-family: "Open Sans";
  color: #abadaf;
}
.block-first .social {
  margin-top: 55px;
  margin-bottom: 100px;
  display: flex;
}
.block-first .social [class*=social-] {
  display: block;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
  margin-right: 1px;
}
.block-first .social :hover {
  background-color: #d0d5d9;
  cursor: pointer;
}
.block-first .social .social-1 {
  background-image: url(images/fb-sm.png);
}
.block-first .social .social-2 {
  background-image: url(images/twitter-sm.png);
}
.block-first .social .social-3 {
  background-image: url(images/icon-google.png);
}
.block-first .social .social-4 {
  background-image: url(images/world.png);
}
.block-first .social .social-5 {
  background-image: url(images/be-sm.png);
}
.block-first .col-5 {
  padding-top: 125px;
  padding-bottom: 50px;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
.block-first .col-5 span {
  display: block;
  background-color: #23b7a4;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  line-height: 50px;
  float: left;
}
.block-first .col-5 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: flex-start;
}
.block-first .col-5 > div h3 {
  margin-left: 20px;
  margin-top: -5px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #292f36;
  margin-bottom: 5px;
}
.block-first .col-5 > div p {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}/*# sourceMappingURL=style.css.map */