@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Quattrocento+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "_mixin", "_variables", "_media";

* {
  box-sizing: border-box;
}

p {
  font-family: "Open Sans";
}

body {
  margin: 0;
}

.col-2 {
  width: 16.66667%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  // width: calc(100% - 30px);
}

header {
  background-color: #1d2126;
  .display-flex {
    height: 80px;
    align-items: center;
  }
}

.navigation ul {
  @include display-flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.navigation li {
  margin: 0 5px;
  padding: 5px 10px;
  list-style: none;
  color: #a4aead;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border: 2px solid #1d2126;
  border-radius: 5px;
}

.navigation a {
  display: block;
  text-decoration: none;
}

.navigation li:active {
  border: 2px solid #23b7a4 !important;
  color: #23b7a4;
}

.navigation li:hover {
  border: 2px solid #585d64;
  cursor: pointer;
}

.search {
  height: 30px;
  @include display-flex;
  justify-content: flex-end;
  border: 1px solid #585d64;
  border-radius: 3px;
}

.search > input {
  display: inline-block;
  padding: 5px 0px;
  outline: none;
  border: none;
  background: none;
  vertical-align: text-bottom;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #a4aead;
  max-width: 135px;
  text-transform: uppercase;
}

.search > input::placeholder {
  color: #a4aead;
  text-transform: uppercase;
}

.search button {
  background-color: #1d2126;
  background-image: url(images/icon-search-white.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 25px;
  border: none;
}

.slider {
  background-image: url(images/slider-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  .col-7 {
    display: flex;
    padding-top: 200px;
    padding-bottom: 250px;
    padding-left: 15px;
    flex-direction: column;
  }
}

.slider-button {
  @include display-flex;
  margin-bottom: 30px;
  justify-content: flex-start;
  :hover {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
  }
}

.slider-button a {
  width: 120px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 3px;
  background: none;
  color: #ccd0d7;
  text-transform: uppercase;
  font-family: "Open Sans";
  margin-right: 10px;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
}

.slider h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 36px;
  margin-bottom: 20px;
}

.slider p {
  color: #ccd0d7;
  font-family: "Open Sans";
  font-size: 16px;
  margin-bottom: 40px;
}

.border-bottom {
  border-bottom: 1px solid #dde1e4;
}

.block-first,
.block-second,
.block-third {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  .h2 > p {
    color: #292f36;
  }
  p {
    color: #8d8f92;
  }
}

.block-first {
  .col-7 {
    @include display-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    p {
      margin: 0 auto;
    }
  }

  .social {
    display: flex;
    [class*="social-"] {
      display: block;
      background-position: center;
      width: 60px;
      height: 60px;
      background-color: #c8cdd0;
      margin-right: 1px;
    }
    :hover {
      background-color: #d0d5d9;
      cursor: pointer;
    }
  }

  .social-1 {
    background-image: url(images/fb-sm.png);
  }
  .social-2 {
    background-image: url(images/twitter-sm.png);
  }
  .social-3 {
    background-image: url(images/icon-google.png);
  }
  .social-4 {
    background-image: url(images/world.png);
  }
  .social-5 {
    background-image: url(images/be-sm.png);
  }
  .social-6 {
    background-image: url(images/linkedin.png);
  }

  .col-5 {
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    span {
      display: block;
      background-color: #23b7a4;
      width: 50px;
      height: 50px;
      text-align: center;
      color: white;
      line-height: 50px;
      float: left;
    }
    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: flex-start;
      align-items: flex-start;
      h3 {
        margin-left: 20px;
        margin-top: -5px;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: #292f36;
        margin-bottom: 5px;
      }
      p {
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.photo {
  background-color: #fff;
  background-repeat: no-repeat;
  width: 260px;
  height: 300px;
  line-height: 300px;
}

.photo-img1 {
  background: url(images/face1.png) rgba(255, 255, 255, 0.6);
}
.photo-img2 {
  background: url(images/face2.png) rgba(255, 255, 255, 0.6);
}
.photo-img3 {
  background: url(images/face3.png) rgba(255, 255, 255, 0.6);
}
.photo-img4 {
  background: url(images/face4.png) rgba(255, 255, 255, 0.6);
}

.block-second {
  // .display-flex {
  // flex-wrap: wrap;
  // }
  [class*="col-"]:hover {
    cursor: pointer;
    .photo-link-inside {
      visibility: visible;
    }
    [class*="photo-img"] {
      background-blend-mode: color;
    }
    .photo-link {
      background-color: #3a454d;
      h3 {
        color: white;
      }
      p {
        color: white;
      }
    }
  }
  .photo-link:hover {
    background-color: #3a454d;
    h3 {
      color: white;
    }
    p {
      color: white;
    }
  }
}

.photo-link-inside {
  // display: contents;
  visibility: hidden;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1px;
  a {
    display: block;
    background-position: center;
    width: 60px;
    height: 60px;
    background-color: #3a454d;
  }
  :hover a {
    background-color: #4e5a62;
    cursor: pointer;
  }
  .social-1 {
    background-image: url(images/fb-sm.png);
  }
  .social-2 {
    background-image: url(images/twitter-sm.png);
  }
  .social-6 {
    background-image: url(images/linkedin.png);
  }
}

.photo-link {
  width: 260px;
  height: 75px;
  background-color: #e1e6ea;
  a {
    display: block;
    padding: 20px;
    text-decoration: none;
    line-height: 0.5em;
    h3 {
      margin-top: auto;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: #292f36;
      font-family: "Quattrocento Sans";
    }
    p {
      color: #989b9e;
      margin-bottom: 0;
    }
  }
}

section {
  background-color: #3a454d;
  padding-top: 20px;
  .display-flex {
    flex-wrap: wrap;
  }
  .h2-light {
    color: #fff;
    span {
      background-color: #4e5a62;
    }
  }
  [class*="sect-"] {
    a {
      position: relative;
      top: calc(100% - 60px);
    }
  }
  [class*="col-"] {
    background-repeat: no-repeat;
    background-size: cover;
    height: 265px;
    width: 360px;
    margin: 0;
    span {
      display: block;
      height: 60px;
      background-color: #292f36;
      // position: relative;
      // top: calc(100% - 60px);
      text-align: center;
      line-height: 60px;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      font-family: "Quattrocento Sans";
      visibility: hidden;
    }
  }
  [class*="col-"]:hover {
    span {
      visibility: visible;
      cursor: pointer;
    }
  }
  .sect-1 {
    background-image: url(images/sect-1.png);
  }
  .sect-2 {
    background-image: url(images/sect-2.png);
  }
  .sect-3 {
    background-image: url(images/sect-3.png);
  }
  .sect-4 {
    background-image: url(images/sect-4.png);
  }
  .sect-5 {
    background-image: url(images/sect-5.png);
  }
  .sect-6 {
    background-image: url(images/sect-6.png);
  }
}

.show-button {
  text-align: center;
  padding: 60px 0;
  a {
    width: 150px;
    height: 45px;
    border: 3px solid #fff;
    border-radius: 5px;
    background: none;
    color: #ccd0d7;
    text-transform: uppercase;
    font-family: "Quattrocento Sans";
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    padding: 15px 30px;
  }
}

.do-pict {
  width: 70px;
  height: 70px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.do-pict-1 {
  background-image: url(images/do-1.png);
}
.do-pict-2 {
  background-image: url(images/do-2.png);
}
.do-pict-3 {
  background-image: url(images/do-3.png);
}
.do-pict-4 {
  background-image: url(images/do-4.png);
}

.block-third {
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 90px;
  }
  h3 {
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Quattrocento Sans";
    color: #292f36;
    font-weight: 300;
  }
  .h2 {
    margin-bottom: 90px;
  }
  p {
    padding-top: 10px;
    text-align: center;
  }
}

.feautures-picture {
  //   display: block;
  // width: 360px;
  height: 240px;
  margin-bottom: 40px;
  //   background-color: #23b7a4;
  background-repeat: no-repeat;
  background-size: contain;
}

.future-text {
  display: block;
  // width: 360px;
  font-weight: 16px;
  padding-bottom: calc(120px - 16px);
  font-weight: 400;
  color: #dcdfe1;
}

.feautures-picture-1 {
  background-image: url(images/futures-1.png);
}
.feautures-picture-2 {
  background-image: url(images/futures-2.png);
}
.feautures-picture-3 {
  background-image: url(images/futures-3.png);
}

.features {
  padding-top: 40px;
  background-color: #3a454d;
  font-family: "Quattrocento Sans";
  .h2-light {
    p {
      color: #fff;
    }
    span {
      background-color: #4e5a62;
    }
  }
  h3 {
    // font-family: "Quattrocento Sans";
    font-weight: 400;
    margin: 15px auto;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
  }
}

.contacts {
  margin-bottom: -60px;
  h3 {
    font-weight: 20px;
    margin-left: 10px;
    padding-top: 30px;
    // text-align: center;
    text-transform: uppercase;
    font-family: "Quattrocento Sans";
    color: #292f36;
    font-weight: 300;
  }
  p {
    color: #8d8f92;
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    // column-gap: 15px;
    // height: 400px;
    position: relative;
    top: -130px;
    z-index: 10;
    background-color: #fff;
    padding: 30px;
    .display-flex {
      row-gap: 10px;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      justify-content: space-between;
    }
    input,
    textarea {
      box-sizing: border-box !important;
      display: block;
      all: unset;
      background-color: #eaeef1;
      border-color: #eaeef1;
      border-radius: 3px;
      padding: 15px;
      width: 100%;
      height: 160px;
      font-family: "Quattrocento Sans";
      color: #8d8f92;
      text-align: left;
    }
    label {
      padding-left: 10px;
      width: 100%;
      font-family: "Quattrocento Sans";
      color: #8d8f92;
      text-transform: uppercase;
      font-size: 14px;
    }

    .form-button {
      margin-top: 20px;
    }

    input {
      padding: 0 15px;
      height: 45px;
      width: 100%;
      margin-bottom: 10px;
      font-family: "Quattrocento Sans";
      color: #8d8f92;
    }
  }

  .form-button {
    height: 45px;
    width: 150px;
    background-color: #23b7a4;
    border-color: #23b7a4;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Quattrocento Sans";
    font-size: 14px;
    text-align: center;
    line-height: 45px;
    a {
      height: 45px;
      width: 150px;
      display: block;
    }
    :hover {
      cursor: pointer;
    }
  }
}

footer {
  font-family: "Open Sans";
  display: flex;
  background-color: #3a464d;
  padding: 24px 0;
  color: #fff;
  [class*="footer-social-"] {
    display: flex;

    background-position: center;
    // background-color: #23b7a4;
    width: 40px;
    height: 40px;
  }
  .footer-social {
    display: flex;
    align-items: center;
  }
  .display-flex {
    display: flex;
    justify-content: space-between;
  }
  .footer-social-1 {
    background-image: url(images/twitter-lg.png);
  }
  .footer-social-2 {
    background-image: url(images/fb-lg.png);
  }
  .footer-social-3 {
    background-image: url(images/skype.png);
  }
  .footer-social-4 {
    background-image: url(images/be-lg.png);
  }
  .footer-social-5 {
    background-image: url(images/link-lg.png);
  }
}

iframe {
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
